@import '~antd/dist/antd.css';

* {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#index {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  grid-gap: 1vw;
}
#header {
  width: 40vw;
  background: white;
  border-radius: 15px;
  box-shadow: 3px 9px 15px 0px #80808057;
}
#lists {
  display: grid;
  grid-gap: 1vw;
}

.cat-sns-main-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 15px 15px 0px 0px;
}

.list-link {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border-radius: 15px;
  box-shadow: 3px 9px 15px 0px #80808057;
  background: white;
}

.link-img {
 width:100%;
  display: inline-block;

  border-radius: 15px 0px 0px 15px;
}
.ant-popover {
  width: 25vw;
}
