@import '~antd/dist/antd.css';

* {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
}
#lists {
  display: grid;
  justify-items: center;
  grid-gap: 1vw;
  margin: 1em auto;
  width: 70vw;
  background: white;
}

.cat-sns-main-img {
  width: 40vw;
  object-fit: cover;

  display: block;
  margin: 0 auto;
}

.list-link {
  display: grid;
  width: 70%;
  grid-auto-flow: column;
  grid-auto-columns:30% 70%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 3px 9px 15px 0px #80808057;
  background: white;
}

.link-img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
  border-radius: 15px 0px 0px 15px;
}
.ant-popover {
  width: 25vw;
}
